@import 'var';
@import 'tag';
@import 'complents';
@import 'mix';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $background-color;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: $font-color;
}

body {
    display: grid;
    grid-template-rows: auto 1fr  auto  auto;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    grid-template-areas:'header header header' 
                        '. main .'
                        '. aside .'
                        'footer footer footer';

    > header  {
        grid-area: header;
    }

    > footer  {
        grid-area: footer;
    }

    main  {
        grid-area: main;

    }
    aside {
        grid-area: aside;
        align-self: start;
    }

    > header {
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.075) ;
        padding: 1rem;
        background-color: white;
        display: flex;

        > h1 {
            flex: auto;
            .net {
                color: $main-color;
            }
            align-self: center;
            a {
               font-size: 2rem;
            }
        }

 

        nav {
            height: 100%;
            width: 0;
            overflow-x: hidden;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            transition: 0.5s;

            &.active {
                width: 100%;
            }

            a {
                padding: 8px;
                font-size: 36px;
                color: #818181;
                display: block;

                &:hover, &:focus {
                    color: $main-color;
                }

            }

            #close {
                position: absolute;
                right: 1rem;
                top: 1rem;
            }

            ul {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;

                li {
                    a {
                        display: block;
                        padding: .5rem 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }


    
    footer {
        background-color: white;
        padding:1rem;
    }
}

@include minw(760) {
    body {
        grid-template-rows: auto 1fr  auto;
        grid-template-columns: auto 1fr  minmax(200px, .5fr) auto;
        grid-template-areas:'header header header header' 
                            '. main  aside .'
                            'footer footer footer footer';
        > header {
            button.icon{
                display: none;

            }

            h1 {
                flex: 0 0 auto;
            }
            nav {
                flex: auto;
                position: static;
                width: auto;
                background-color: inherit;
                ul {
                    position: static;
                    margin: 0;
                    display: flex;
                    justify-content: flex-end;
                    li {
                        a {
                            font-size: 1.5rem;
                            color: #818181;
                            padding: .5rem 1rem;
                        }
                    }

                }
            }
        }

    }
}


@include minw(960) {
    
    body {
        grid-template-rows: auto 1fr  auto;
        grid-template-columns: 1fr  minmax(600px, max-content) minmax(250px, min-content) 1fr;
        grid-template-areas:'header header header header' 
                            '. main  aside .'
                            'footer footer footer footer';

    }
}

@include minw(1200) {
    
    body {
        grid-template-rows: auto 1fr  auto;
        grid-template-columns: 1fr  minmax(850px, max-content) minmax(250px, min-content) 1fr;
        grid-template-areas:'. header header .' 
                            '. main  aside .'
                            '. footer footer .';

    }
}