@import "var";

button.icon {
    outline: none;
    display: block;
    align-self: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: 1px solid $main-color;
    border-radius: 0.3rem;
    background: white;

    
    &:hover, &.active {
        color: white;
        background-color: $main-color;

    }
}


a.more {
    display: inline-block;
    color: white;
    padding: .5rem 1rem;
    font-weight: 900;
    background-color: $main-color;

    &:hover, &.active {
        color: $main-color;
        background-color: white;
        outline: 1px solid $main-color;

    }
}

.fas, .fab {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
}

.box-shadow {
    box-shadow: 0 0 3px 3px black;
}