@import "var";
h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2; 
}

  
h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.1rem 0 0.2rem;
  line-height: 1.2; 
}

article {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

a {
  color: $font-color;
  text-decoration: none; 
  transition: .3s;
  &:hover {
    color: darken($font-color,40); 
  }
  &.active {
    color: $main-color; 
  }
}

nav  a {
  text-transform: uppercase;
  font-size: 1.2rem;
}


ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; 
  
  > li {
    padding: 0; 
  }
}


ol {
  padding: 0;
  margin: 0; 
}

// :focus { 
//   outline: 1px solid $main-color; 
// }